@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mirza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Puritan&display=swap');

* {
    box-sizing: border-box;
}

.container {
    padding: 40px;
    margin: 0 auto;
    max-width: 1700px;
    text-align: center;
    margin-bottom: 5%;
}

li{
    font-size: 1.85rem;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.card-header{
  color: #4dd0e1;
  background-color: #e0f7fa;
  border-color: #e0f7fa;
  text-align: center;
  font-family: 'Secular One', sans-serif;
  font-size: 18px;
  font-weight: 800;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
}

.modal-title{
  color: #4dd0e1;
  text-align: center;
  font-family: 'Secular One', sans-serif;
  font-size: 18px;
  font-weight: 800;
 
}

tr{
  color: black;
  text-align: justify;
  font-family: 'Mirza', cursive;
  font-size: 12px;
}

h5{
  text-align: center;
  color: #00acc1;
  font-family: 'Cherry Swash', cursive;
  font-size: 20px;
  font-weight: 600;
}

.button-input{
  display:flex;
}

.indications{
  margin-top: 3%;
  text-align: justify;
  color: #78909c;
  font-family: 'Puritan', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.rounded{
  max-width: 50%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}